* {
        border: none;
        font-family: JetBrainsMono;
        font-size: 15px;
        min-height: 0;
}

window#waybar  {
	background: rgba(36, 39, 58, 0.3);
        color: black;
}

#clock, #battery, #cpu, #memory, #temperature, #network, #custom-weather {
    padding: 0 5px;
    margin: 0 3px;
}

#workspaces button.active{
    color: #C6A0F6;
    background-color: #9D81C6;
    border-radius: 30px;
}

#workspaces {
    border-radius: 20px;
    background-color: #C6A0F6; 
}

