* {
        border: none;
        border-radius: 20px;
        font-family: JetBrainsMono;
        font-size: 15px;
        min-height: 0;
}

window#waybar  {
        background: transparent;
        color: black;
}

#clock, #cpu, #memory, #pulseaudio, #backlight, #battery, #network, #custom-weather {
    padding: 0 5px;
}

#network{
    margin: 0 3px;
    border: 2px solid #D50DDC; 
    background-color: #C6A0F6;
}

#hardware{
    margin: 0 3px;
    border: 2px solid #D50DDC; 
    background-color: #C6A0F6;
}

#settings{
    margin: 0 3px;
    border: 2px solid #D50DDC; 
    background-color: #C6A0F6;
}

#clock{
    margin: 0 3px;
    border: 2px solid #D50DDC; 
    background-color: #C6A0F6;
}

#custom-weather{
    margin: 0 3px;
    border: 2px solid #D50DDC; 
    background-color: #C6A0F6;
}

#workspaces button.active{
    color: #C6A0F6;
    background-color: #9D81C6;
    border-radius: 40px;
}

#workspaces {
    border-radius: 20px;
    background-color: #C6A0F6; 
    border: 2px solid #D50DDC; 
    background-color: #C6A0F6;
}

